.container h1, .army-balance, .container {text-align: center;} 
.prepered {margin-top: 15px;}
.balance {cursor: default !important;}
.special-feature {display: none;}
.help-army {margin: 0 50px !important;}
.intro {text-align: left;}
.intro a {display: block;}
.intro p {display: none;}
.army-num {padding: 0 0 15px 0; border-radius: 5px; border: solid 2px;}